body {
    background-color: #1e417d;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
}

#qrcode {
    margin-top: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 20%
}
iframe {
    border: none;
    width: 949px;
    height: 534px;
}
#qrcode img {
    padding: 30px;
}

#qrcode div {
    color: #fff;
    font-weight: bold;
}

#footer {
    color: #fff;
    font-weight: bold;
    margin-top: 7%;
}

#logo {
    width: 15%;
}

@media screen and (max-width: 960px) {
    iframe {
        width: 400px;
        height: 210px;
        padding-bottom: 10px;
    }
    #logo {
        width:40%;
        margin-bottom: 30px;
    }
    #qrcode {
        display: block;
    }
    #qrcode img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}